<!DOCTYPE HTML>
<html>
<head>
    <title>Словоучитель / Добавление слова</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
        }
        th {
          text-align: right;
        }
        td {
          text-align: right;
        }
    </style>
</head>
<body>
<form action="/wordadd" method="post">
    <table style="width:50%">
        <tr>
            <th>Русское</th>
            <th>Латышское</th>
        </tr>
        <tr>
            <td><input type="text" name="russian"></td>
            <td><input type="text" name="latvian"></td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Добавить">
</form>
<h1><a href="/">На главную</a></h1>
</body>
</html>